@charset "UTF-8";
/* base */
html {
  font-size: 62.5%; }

body {
  color: #4c4c4c;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background: #f9f8f6; }

@media (max-width: 767px) {
  .columns {
    width: 100% !important;
    margin: 0; } }

/* header */
@media (min-width: 768px) {
  header {
    padding: 19px 19px 36px; } }

header .container {
  padding: 5px; }
  @media (min-width: 768px) {
    header .container {
      padding: 0; } }
  header .container .row {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 768px) {
      header .container .row {
        flex-direction: row; } }
    header .container .row .logo {
      text-align: center; }
      @media (min-width: 768px) {
        header .container .row .logo {
          width: auto;
          margin-right: auto; } }
      header .container .row .logo h1 {
        display: inline-block;
        margin: 0;
        padding: 20px 10px 12px;
        width: 100px;
        font-size: 0; }
        @media (min-width: 768px) {
          header .container .row .logo h1 {
            width: 141px;
            float: left;
            padding: 20px 0 0 10px; } }
    header .container .row .header_menu {
      text-align: right;
      line-height: 0;
      margin-left: 0; }
      @media (min-width: 768px) {
        header .container .row .header_menu {
          width: auto; } }
    header .container .row ul.pc_menu {
      display: none; }
      @media (min-width: 768px) {
        header .container .row ul.pc_menu {
          display: inline-block;
          margin: 0;
          list-style: none; }
          header .container .row ul.pc_menu li {
            display: inline-block;
            margin: 0 6px 0  0; } }
    header .container .row ul.icon {
      margin-bottom: 3px;
      list-style: none;
      text-align: center;
      font-size: 0; }
      @media (min-width: 768px) {
        header .container .row ul.icon {
          vertical-align: bottom;
          display: inline-block;
          margin: 0; } }
      header .container .row ul.icon li {
        display: inline-block;
        margin-right: 9px;
        margin-bottom: 0; }
        header .container .row ul.icon li img {
          width: 24px; }
          @media (min-width: 768px) {
            header .container .row ul.icon li img {
              width: 20px; } }
      header .container .row ul.icon li:last-child {
        margin-right: 0; }
      header .container .row ul.icon #menu {
        cursor: pointer; }
        @media (min-width: 768px) {
          header .container .row ul.icon #menu {
            display: none; } }

ul.sp_menu_toggle {
  display: none;
  list-style: none; }
  ul.sp_menu_toggle li {
    height: 24px;
    font-size: 1.4rem;
    line-height: 26px;
    background: #fff;
    margin: 2px;
    padding: 4px; }
    ul.sp_menu_toggle li a {
      display: block;
      text-decoration: none;
      color: #000; }

#contents .container {
  padding: 5px; }
  #contents .container .owl-carousel .owl-dots {
    margin: 0;
    text-align: left; }
    #contents .container .owl-carousel .owl-dots span {
      width: 25px;
      height: 2px;
      margin: 5px;
      font-size: 0;
      border-radius: none; }
  #contents .container .owl-carousel .active span {
    background: #9d1a2d; }
  #contents .container #new_items, #contents .container #popular_items, #contents .container #recent, #contents .container #list {
    text-align: center; }
    #contents .container #new_items h2, #contents .container #popular_items h2, #contents .container #recent h2, #contents .container #list h2 {
      display: inline-block;
      width: 96px;
      margin-bottom: 16px;
      font-size: 0; }
      @media (min-width: 768px) {
        #contents .container #new_items h2, #contents .container #popular_items h2, #contents .container #recent h2, #contents .container #list h2 {
          width: 100%;
          margin: 24px 0 30px; } }
      #contents .container #new_items h2 img, #contents .container #popular_items h2 img, #contents .container #recent h2 img, #contents .container #list h2 img {
        width: 100%; }
    #contents .container #new_items .flex, #contents .container #popular_items .flex, #contents .container #recent .flex, #contents .container #list .flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      #contents .container #new_items .flex .item, #contents .container #popular_items .flex .item, #contents .container #recent .flex .item, #contents .container #list .flex .item {
        padding: 8px;
        box-sizing: border-box;
        width: calc( ( 50% ) - 1px);
        background-color: #fff; }
        @media (min-width: 768px) {
          #contents .container #new_items .flex .item, #contents .container #popular_items .flex .item, #contents .container #recent .flex .item, #contents .container #list .flex .item {
            padding: 14px;
            width: calc( (100% / 3) - 2px); } }
        #contents .container #new_items .flex .item p, #contents .container #popular_items .flex .item p, #contents .container #recent .flex .item p, #contents .container #list .flex .item p {
          font-size: 1.2rem;
          letter-spacing: -0.01rem;
          line-height: 1.2;
          text-align: left;
          margin-bottom: 10px; }
  #contents .container #popular_items h2 {
    margin: 18px 0;
    width: 138px; }
    @media (min-width: 768px) {
      #contents .container #popular_items h2 {
        width: 100%; } }
  #contents .container #shopping_guide {
    text-align: center; }
    #contents .container #shopping_guide h2 {
      width: 151px;
      margin: 20px auto 15px;
      font-size: 0; }
      @media (min-width: 768px) {
        #contents .container #shopping_guide h2 {
          width: 100%; } }
      #contents .container #shopping_guide h2 img {
        width: 100%; }
    #contents .container #shopping_guide h3, #contents .container #shopping_guide h4 {
      color: #887f69;
      margin: 0 auto 15px;
      font-size: 1.7rem;
      font-weight: bold; }
    #contents .container #shopping_guide h4 {
      margin: 10px auto 0;
      font-size: 1.25rem; }
    #contents .container #shopping_guide p {
      margin: 5px auto 17px;
      font-size: 1.2rem; }
    #contents .container #shopping_guide .flex {
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      @media (min-width: 768px) {
        #contents .container #shopping_guide .flex {
          flex-direction: row; } }
      #contents .container #shopping_guide .flex .otodoke, #contents .container #shopping_guide .flex .kessai {
        width: 100%;
        background-color: #fff;
        margin: 0 auto 6px;
        padding: 16px;
        text-align: left;
        box-sizing: border-box; }
        @media (min-width: 768px) {
          #contents .container #shopping_guide .flex .otodoke, #contents .container #shopping_guide .flex .kessai {
            width: calc( 50% - 2px); } }
      #contents .container #shopping_guide .flex .kessai h3, #contents .container #shopping_guide .flex .kessai h4 {
        margin: 0 auto 9px; }
      #contents .container #shopping_guide .flex .kessai img {
        margin-bottom: 9px; }
      #contents .container #shopping_guide .flex .kessai p {
        margin-bottom: 12px; }
  @media (min-width: 768px) {
    #contents .container nav {
      margin-left: 2%;
      width: 23%; } }
  #contents .container nav #search {
    width: auto;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background: #fff;
    position: relative; }
    @media (min-width: 768px) {
      #contents .container nav #search {
        height: 70px;
        padding: 16px; } }
    #contents .container nav #search h2 {
      display: none;
      margin: 0;
      padding: 0; }
      @media (min-width: 768px) {
        #contents .container nav #search h2 {
          display: block;
          background: #fff;
          text-align: left;
          position: absolute; } }
    #contents .container nav #search form {
      position: relative; }
      #contents .container nav #search form input[type="text"] {
        width: 80%;
        height: 28px;
        font-style: italic;
        color: #aaa;
        background: #eee;
        border: none;
        border-radius: 0; }
        @media (min-width: 768px) {
          #contents .container nav #search form input[type="text"] {
            width: 100%;
            margin-top: 24px;
            margin-left: 0; } }
      #contents .container nav #search form input[type="submit"] {
        position: absolute;
        width: 28px;
        height: 28px;
        margin: 0px;
        padding: 0px;
        bottom: 26px;
        right: 10%;
        background: url(../images/top/search_icon.png) no-repeat center;
        overflow: hidden;
        border: none;
        cursor: pointer; }
        @media (min-width: 768px) {
          #contents .container nav #search form input[type="submit"] {
            bottom: 26px;
            right: 0; } }
  #contents .container nav h2 {
    display: block;
    margin: 12px auto 0;
    padding: 17px;
    background: #887f69;
    font-size: 0; }
  #contents .container nav .next_icon {
    float: right; }
  #contents .container nav ul {
    list-style: none;
    margin: 0; }
    #contents .container nav ul li {
      margin: 0 auto 1px;
      background: #fff; }
      #contents .container nav ul li a {
        display: block;
        text-decoration: none;
        color: #000;
        padding: 13px; }
  #contents .container nav .flex_side {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff; }
    #contents .container nav .flex_side .side_img {
      width: 44%; }
    #contents .container nav .flex_side .side_p {
      width: 52%; }
    #contents .container nav .flex_side p {
      margin-bottom: 12px;
      font-size: 1.2rem;
      letter-spacing: -0.01rem; }
    @media (min-width: 768px) {
      #contents .container nav .flex_side {
        flex-direction: column;
        text-align: center; }
        #contents .container nav .flex_side .side_img {
          width: 95%;
          margin: auto; }
        #contents .container nav .flex_side .side_p {
          width: 85%;
          margin: auto;
          text-align: left; }
        #contents .container nav .flex_side .more {
          text-align: center;
          margin: auto; } }

footer .container {
  padding: 5px;
  text-align: center; }
  footer .container .pagetop_wrapper #pagetop {
    display: inline-block;
    margin: 3px auto 23px;
    text-align: center; }
    @media (min-width: 768px) {
      footer .container .pagetop_wrapper #pagetop {
        float: right; } }
  footer .container .pagetop_wrapper:after {
    content: "";
    clear: both;
    display: block; }
  footer .container ul {
    padding: 12px;
    margin-bottom: 0;
    border-top: 1px solid #887f69; }
    footer .container ul li {
      display: inline-block;
      margin-bottom: 4px;
      list-style: none; }
      footer .container ul li a {
        color: #000;
        text-decoration: none;
        font-size: 1.1rem; }
  footer .container p {
    font-family: Verdana;
    letter-spacing: -0.01rem;
    font-size: 1.0rem;
    color: #b8b4ac; }

.crumb {
  margin: 0 10px;
  padding: 5px 10px;
  background: #e8e4da;
  border-radius: 2px;
  width: 100%;
  margin: 0;
  box-sizing: border-box; }
  .crumb ol {
    margin: 0;
    line-height: 0;
    list-style: none;
    display: inline-block; }
    .crumb ol li {
      display: inline-block; }
      .crumb ol li a {
        font-size: 1.2rem;
        color: #887f69;
        text-decoration: none; }
    .crumb ol li:after {
      content: "/";
      margin-left: 8px; }
    .crumb ol li:last-child:after {
      content: ""; }

#product {
  margin: 17px 0 20px;
  padding: 20px;
  padding-bottom: 30px;
  background: #fff; }
  @media (min-width: 768px) {
    #product {
      padding: 40px 60px;
      margin-bottom: 6px; } }
  #product .product_name {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 1px solid #e3e8cf; }
    @media (min-width: 768px) {
      #product .product_name {
        margin-bottom: 15px;
        padding-bottom: 10px;
        flex-flow: row; } }
    #product .product_name h2 {
      margin: 0;
      font-size: 1.4rem;
      font-weight: bold; }
    #product .product_name p {
      margin-bottom: 16px;
      font-size: 1.2rem;
      color: #a6a6a6; }
  #product .slideshow {
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-bottom: 1px solid #e3e8cf; }
    @media (min-width: 768px) {
      #product .slideshow {
        flex-flow: row; } }
    @media (min-width: 768px) {
      #product .slideshow #display_img {
        width: 72%; } }
    #product .slideshow #display_img img {
      width: 100%; }
    #product .slideshow ul#list_img {
      margin-bottom: 0;
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      list-style: none; }
      @media (min-width: 768px) {
        #product .slideshow ul#list_img {
          width: 27%; } }
      #product .slideshow ul#list_img li {
        display: block;
        margin: 0 0 6px;
        width: 19%;
        font-size: 0; }
        @media (min-width: 768px) {
          #product .slideshow ul#list_img li {
            width: 48.5%; } }
        #product .slideshow ul#list_img li img {
          width: 100%; }
  #product .color_size {
    padding-bottom: 15px; }
    #product .color_size h3, #product .color_size #contents .container #shopping_guide h4, #contents .container #shopping_guide #product .color_size h4 {
      margin: 15px 0;
      font-size: 0; }
    #product .color_size form {
      margin: 0; }
      #product .color_size form table {
        margin: 0;
        width: 100%;
        background: #f9f9f5; }
        #product .color_size form table th, #product .color_size form table td {
          text-align: center;
          padding: 12px;
          font-weight: normal;
          border: 1px solid #e3e8cf; }
        #product .color_size form table tbody tr td {
          text-align: center;
          background: #fff;
          font-size: 0; }
          #product .color_size form table tbody tr td input[type=radio] {
            display: none; }
          #product .color_size form table tbody tr td .radio {
            display: inline-block;
            margin: 0;
            padding: 6px;
            border: 1px solid #e3e8cf; }
          #product .color_size form table tbody tr td input[type=radio]:checked + .radio {
            background: #887f69; }
  #product .purchase {
    display: flex;
    flex-flow: column;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      #product .purchase {
        flex-flow: row; } }
    #product .purchase .price_quantity {
      border-top: 1px solid #e3e8cf; }
      @media (min-width: 1024px) {
        #product .purchase .price_quantity {
          width: 57%; } }
      #product .purchase .price_quantity .price, #product .purchase .price_quantity .quantity {
        display: flex;
        border-bottom: 1px solid #e3e8cf; }
        #product .purchase .price_quantity .price h3, #product .purchase .price_quantity .quantity h3, #product .purchase .price_quantity .price #contents .container #shopping_guide h4, #contents .container #shopping_guide #product .purchase .price_quantity .price h4, #product .purchase .price_quantity .quantity #contents .container #shopping_guide h4, #contents .container #shopping_guide #product .purchase .price_quantity .quantity h4 {
          margin: 0;
          width: 40%;
          font-size: 2.2rem;
          line-height: 2.2; }
        #product .purchase .price_quantity .price p, #product .purchase .price_quantity .quantity p {
          margin: 0;
          width: 60%;
          font-size: 1.4rem;
          line-height: 2.2; }
          #product .purchase .price_quantity .price p span, #product .purchase .price_quantity .quantity p span {
            font-size: 2.2rem;
            font-style: italic;
            color: red; }
            #product .purchase .price_quantity .price p span span, #product .purchase .price_quantity .quantity p span span {
              font-size: 1.4rem; }
      #product .purchase .price_quantity .quantity h3, #product .purchase .price_quantity .quantity #contents .container #shopping_guide h4, #contents .container #shopping_guide #product .purchase .price_quantity .quantity h4 {
        line-height: 2.5; }
      #product .purchase .price_quantity .quantity .number {
        padding: 10px 0; }
        #product .purchase .price_quantity .quantity .number input[type=number] {
          margin: 0;
          border-radius: 0;
          width: 145px;
          height: 35px; }
    #product .purchase #cart_btn {
      margin: 15px auto 0;
      width: 225px;
      height: 55px;
      background: url(../images/products/add_to_cart.png) left top no-repeat;
      background-size: contain;
      cursor: pointer; }
      @media (min-width: 1024px) {
        #product .purchase #cart_btn {
          margin: 0; } }
  #product .description {
    margin-top: 30px; }
    #product .description h3, #product .description #contents .container #shopping_guide h4, #contents .container #shopping_guide #product .description h4 {
      padding-bottom: 15px;
      font-size: 1.6rem;
      font-weight: bold;
      color: #887f69;
      border-bottom: 1px solid #887f69; }
    #product .description h4 {
      font-size: 1.6rem;
      font-weight: bold;
      color: #887f69; }
    #product .description p {
      font-size: 1.4rem; }
    #product .description table {
      margin: 0;
      width: 100%;
      background: #f9f9f5;
      font-size: 1.2rem; }
      #product .description table th, #product .description table td {
        text-align: center;
        padding: 10px;
        font-weight: normal;
        border: 1px solid #e3e8cf; }
      #product .description table tbody tr td {
        text-align: center;
        background: #fff;
        font-weight: 1.2rem; }

.category_name {
  margin-top: 10px;
  width: 100%; }
  .category_name img {
    width: 100%; }

#list {
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    #list {
      margin-bottom: 10px; } }

.page {
  display: flex;
  justify-content: space-between;
  margin: 20px 0; }
  .page .back, .page .next {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    vertical-align: center;
    background: #887f69; }
